[submodule "Gomocalc"]
	path = Gomocalc
	url = https://github.com/dhbloo/gomoku-calculator.git
[submodule "Trainer"]
	path = Trainer
	url = https://github.com/dhbloo/pytorch-nnue-trainer.git
[submodule "Networks"]
	path = Networks
	url = https://github.com/dhbloo/rapfi-networks.git
